#main-footer {
    .footer-wrapper {
        margin: 20px;
        align-items: center;

        .footer-style {
            font-size: 12px;
            color: #64626a;

            .footer-links-style {
                color: #64626a;
                white-space: nowrap;
                padding-left: 20px;
            }
        }
        .icon-btn {
            margin-left: 5px;
        }
        #twit-icon {
            background: #55acee;
            border-style: none;
        }
        #face-icon {
            background: #3b5998;
            border-style: none;
        }
        #linkedin-icon {
            background: #0976b4;
            border-style: none;
        }
    }
}

@media only screen and (max-width: 700px) {
    .footer-wrapper {
        margin: 10px;
        flex-direction: column;
    }
}

@media only screen and (min-width: 701px) {
    .lang-selector {
        margin-left: auto;
    }
}
