@import "bootstrap";

.header-logo {
    padding-left: 150px;
}
.header-links-style {
    padding-right: 100px;
}
.nav-style {
    background-color: #52ab84;
    height: 100px;
}

.navbar-expand {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    align-items: flex-start;
}
@include media-breakpoint-down(lg) {
    .navbar-mobile {
        flex-direction: row-reverse;
    }
}

@include media-breakpoint-up(sm) {
    .mobile-only {
        display: none;
    }
}
