@mixin card-style {
    font-weight: 600;
    color: #52ab84;
    font-family: "Inter";
}
@mixin grey-lines {
    color: #8e8c95;
    font-size: 12px;
    white-space: nowrap;
}
@mixin font-weight-color {
    font-family: "Inter";
    font-weight: 600;
    color: #3b3a40;
}
.card-first-logo {
    padding-top: 7px;
    padding-left: 20px;
}

.card-name {
    align-self: center;
    font-size: 18px;
    @include font-weight-color;
}
.card-icon {
    align-self: center;
}

.pale-sentences {
    @include grey-lines;
}
.card-title {
    @include font-weight-color;
}
.card-text {
    font-family: "Inter";
    font-size: 14px;
    font-weight: 400;
    color: #3b3a40;
}
.card-rating-num {
    @include card-style;
    .result-card-btns {
        margin-left: 10px;
    }
    .result-search-input {
        margin-top: -20px;
    }

    .faded-links {
        margin-top: 80px;
        margin-bottom: 20px;
    }
    .result-items {
        display: inline-block;
    }
    .adobe-detail-wrapper {
        margin-top: 30px;
        .adobe-detail-style {
            padding: 0;
            margin: 7px;
        }
        .card-p-0 {
            padding: 0;
        }
    }
    .adobe-detail-a-tag {
        padding-left: 20px;
    }
}
